@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}
